* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000058;
  color: white;
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.logo {
  color: white;
  font-weight: bolder;
  font-size: 4rem;
}
.logo span {
  color: #ffa62b;
  font-size: 2rem;
}
header {
  margin-top: 3rem;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
nav ul {
  display: flex;
  margin-right: 4rem;
}
nav {
  display: flex;
  align-items: baseline;
}
nav ul li {
  margin-right: 4rem;
  font-size: 1.2rem;
}
nav button {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  background-color: #c27912;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bolder;
  margin-left: 1rem;
}

.section-one {
  padding: 0 10rem;
  display: flex;
  text-align: left;
  margin-top: 7rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  padding-right: 10rem;
}
h1 span {
  color: #f6c582;
}
img {
  width: 50%;
  height: 50%;
  border-radius: 1rem;
}
.intro {
  font-size: 1.2rem;
  padding-right: 9rem;
  margin-bottom: 3rem;
}
.get-started {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  background-color: #d67d00;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bolder;
  margin-top: 0.5;
}
.section-two {
  padding: 0 10rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.section-two .inno,
.section-two .busi {
  font-size: 1.2rem;
  font-weight: bolder;
}
.section-two .inno-p,
.section-two .busi-p {
  font-size: 1rem;
  color: #cfcfcf;
  padding-right: 4rem;
}

.grid-container {
  width: 800px;
}

/* Why Us section style starts here*/
.why {
  margin: 0;
  width: 100%;
  margin-top: 5rem;
  padding-top: 1rem;
  background-color: white;
  text-align: center;
}

.why h4 {
  margin-top: 3rem;
  color: #000058;
  font-size: 4rem;
  font-weight: bolder;
}
.why .core {
  color: #fcb95d;
}
.why .features {
  color: #ffa62b;
}
.why-desc {
  padding: 0.5rem 32rem 5rem 32rem;
  font-size: 1.2rem;
  color: #525252;
}

.card-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  row-gap: 3rem;
}

.card {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  background-color: white;
  text-align: left;
  box-shadow: 0 5px 5px 0 rgba(4, 90, 203, 0.2),
    0 8px 8px 0 rgba(56, 55, 55, 0.19);
}

.card-1-desc {
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.card-1-note {
  color: grey;

  padding-right: 3.5rem;
  line-height: 1.5rem;
}

.ic1 {
  color: red;
  margin-bottom: 2rem;
}
